.ul-bookmarklist {
  width: 100%;
  list-style-type: unset;
  margin-top: 80px;
}

.li-bookmarklist {
  width: 100%;
  height: auto;
  break-after: always;
  margin-top: 20px;
  margin-left: -40px;
}

.bookmarklist {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ul-bookmarklist .li-bookmarklist .image-container img {
  width: 100px;
  height: 100px;
  float: left;
}

.ul-bookmarklist .li-bookmarklist .description-text {
  height: 80px;
  width: auto;
  border: 1px solid #eee;
  box-shadow: 1px 2px 3px #ccc;
  overflow: auto;
  padding: 10px;
}
.ul-bookmarklist .li-bookmarklist .h1 {
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  break-after: always;
  break-before: always;
}
.ul-bookmarklist .li-bookmarklist .h3 {
  font-size: 14px;
  float: left;
  break-after: always;
  break-before: always;
  margin-left: 20px;
}
