.ul-bookmarklist {
  width: 100%;
}

.li-bookmarklist {
  width: 100%;
}

.ul-bookmarklist .li-bookmarklist .product-bookmarklist {
  float: left;
  text-align: left;
  align-items: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ul-bookmarklist .li-bookmarklist .product img {
  width: 50px;
  height: auto;
  float: left;
}

p.description-bookmarklist {
  height: 80px;
  width: 70%;
  border: 1px solid #eee;
  box-shadow: 1px 2px 3px #ccc;
  overflow: auto;
  padding: 10px;
  margin: 10px;
  float: right;
  margin-left: 10px;
}
.product .h1-bookmarklist {
  font-size: 16px;
  float: left;
}
.product h3 {
  font-size: 14px;
  float: left;
}
