.nav-bookmarks {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.nav-likes {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.nav-trashes {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.nav-home {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.navbar {
  position: fixed;
  overflow: hidden;
}
