.nav-bookmarks {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.nav-likes {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.nav-trashes {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.nav-home {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}
.navbar {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
}

