body {
  text-align: center;
}

.login {
  margin: 20px;
  margin-top: 100px;
}
.register {
  margin: 20px;
  margin-top: 100px;
}
.logout {
  margin: 20px;
  margin-top: 100px;
}
.profile {
  margin: 20px;
  margin-top: 100px;
}
.navbar {
  z-index: 10000;
}
.bio {
  border: 1px solid #eee;
  box-shadow: 1px 2px 3px #ccc;
}
.name {
  color: #17a2b8;
}
.logo {
  margin: 20%;
}
.h2 {
  text-align: center;
  margin-left: 40px;
  margin-top: 150px;
}
