body {
  height: 100%;
  background-color: #17a2b8;
}

.form {
  margin: 20px;
  padding: 20px;
  background: #17a2b8;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  height: 100%;
}
input {
  border-radius: 5px;
}
.button {
  border-radius: 5px;
}
